
<!DOCTYPE html>
<html lang="en" class="default-style layout-fixed layout-navbar-fixed">
<head>
<title>Catalog | Online Shop - Shopping Store of varaafashions.com</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<meta name="description" content="Empire Bootstrap admin template made using Bootstrap 4, it has tons of ready made feature, UI components, pages which completely fulfills any dashboard needs." />
<meta name="keywords" content="Empire, bootstrap admin template, bootstrap admin panel, bootstrap 4 admin template, admin template">
<meta name="author" content="Srthemesvilla" />
<link rel="icon" type="image/x-icon" href="/public/assets/img/favicon.ico">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" async>

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

<link rel="stylesheet" href="/public/assets/fonts/fontawesome.css">
<link rel="stylesheet" href="/public/assets/fonts/ionicons.css">
<link rel="stylesheet" href="/public/assets/fonts/linearicons.css">
<link rel="stylesheet" href="/public/assets/fonts/open-iconic.css">
<link rel="stylesheet" href="/public/assets/fonts/pe-icon-7-stroke.css">
<link rel="stylesheet" href="/public/assets/fonts/feather.css">

<link rel="stylesheet" href="/public/assets/css/bootstrap-material.css">
<link rel="stylesheet" href="/public/assets/css/shreerang-material.css">
<link rel="stylesheet" href="/public/assets/css/uikit.css">

<link rel="stylesheet" href="/public/assets/libs/perfect-scrollbar/perfect-scrollbar.css">
<link rel="stylesheet" href="/public/assets/libs/flot/flot.css">
<link rel="stylesheet" href="/public/assets/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.css">
<link rel="stylesheet" href="/public/assets/libs/datatables/datatables.css">
<link rel="stylesheet" href="/public/assets/libs/dropzone/dropzone.css">
<link rel="stylesheet" href="/public/assets/libs/bootstrap-select/bootstrap-select.css">
<link rel="stylesheet" href="/public/assets/libs/bootstrap-multiselect/bootstrap-multiselect.css">
<link rel="stylesheet" href="/public/assets/libs/select2/select2.css">
<link rel="stylesheet" href="/public/assets/libs/bootstrap-tagsinput/bootstrap-tagsinput.css">
<link rel="stylesheet" href="/public/assets/libs/growl/growl.css">
<script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>
<body>

<div class="page-loader">
<div class="bg-primary"></div>
</div>


<div class="layout-wrapper layout-2">
<div class="layout-inner">

<div id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical bg-white logo-dark">

<div class="app-brand demo">
<span class="app-brand-logo demo" style="max-width:160px;background:white;padding:5px;">
<img src="https://varaafashions.com/cust_img/logo.png" alt="Brand Logo" class="img-fluid" style="height: 55px;">
</span>
<a href="index.html" class="app-brand-text demo sidenav-text font-weight-normal ml-2"></a>
<a href="javascript:" class="layout-sidenav-toggle sidenav-link text-large ml-auto">
<i class="ion ion-md-menu align-middle"></i>
</a>
</div>
<div class="sidenav-divider mt-0"></div>

<ul class="sidenav-inner py-1">

<li class="sidenav-item active">
<a href="index.php" class="sidenav-link">
<i class="sidenav-icon feather icon-home"></i>
<div>Dashboard</div>
</a>
</li>
<li class="sidenav-item active">
<a href="javascript:" class="sidenav-link sidenav-toggle">
<i class="sidenav-icon feather icon-grid"></i>
<div>Slider</div>
</a>
<ul class="sidenav-menu">
<li class="sidenav-item">
<a href="slider_add.php" class="sidenav-link">
<div>Add/View Slider</div>
</a>
</li>
</ul>
</li>
<li class="sidenav-item active">
<a href="javascript:" class="sidenav-link sidenav-toggle">
<i class="sidenav-icon feather icon-grid"></i>
<div>Home Page Block</div>
</a>
<ul class="sidenav-menu">
<li class="sidenav-item">
<a href="add_short_category.php" class="sidenav-link">
<div>Add/View Home Page Block</div>
</a>
</li>
</ul>
</li>
<li class="sidenav-item active">
<a href="javascript:" class="sidenav-link sidenav-toggle">
<i class="sidenav-icon feather icon-grid"></i>
<div>Season Store</div>
</a>
<ul class="sidenav-menu">
<li class="sidenav-item">
<a href="season_store_add.php" class="sidenav-link">
<div>Add/View Season Store</div>
</a>
</li>
</ul>
</li>
<li class="sidenav-item active">
<a href="javascript:" class="sidenav-link sidenav-toggle">
<i class="sidenav-icon feather icon-grid"></i>
<div>Testimonials</div>
</a>
<ul class="sidenav-menu">
<li class="sidenav-item">
<a href="testimonial_add.php" class="sidenav-link">
<div>Add/View Testimonials</div>
</a>
</li>
</ul>
</li>
<li class="sidenav-item active">
<a href="javascript:" class="sidenav-link sidenav-toggle">
<i class="sidenav-icon feather icon-grid"></i>
<div>Contact Numbers</div>
</a>
<ul class="sidenav-menu">
<li class="sidenav-item">
<a href="contact_number.php" class="sidenav-link">
<div>Add/View Contact Numbers</div>
</a>
</li>
</ul>
</li>


<li class="sidenav-item active">
<a href="javascript:" class="sidenav-link sidenav-toggle">
<i class="sidenav-icon feather icon-grid"></i>
<div>Currency Price</div>
</a>
<ul class="sidenav-menu">
<li class="sidenav-item">
<a href="currency_add.php" class="sidenav-link">
<div>Add/View Currency Price</div>
</a>
</li>
</ul>
</li>
<li class="sidenav-item active">
<a href="javascript:" class="sidenav-link sidenav-toggle">
<i class="sidenav-icon feather icon-grid"></i>
<div>Category</div>
</a>
<ul class="sidenav-menu">
<li class="sidenav-item">
<a href="category_add.php" class="sidenav-link">
<div>Add/View Category</div>
</a>
</li>
</ul>
</li>
<li class="sidenav-item active">
<a href="javascript:" class="sidenav-link sidenav-toggle">
<i class="sidenav-icon feather icon-grid"></i>
<div>Subcategory</div>
</a>
<ul class="sidenav-menu">
<li class="sidenav-item">
<a href="subcategory_add.php" class="sidenav-link">
<div>Add/View Subcategory</div>
</a>
</li>
</ul>
</li>
<li class="sidenav-item active">
<a href="javascript:" class="sidenav-link sidenav-toggle">
<i class="sidenav-icon feather icon-grid"></i>
<div>Attributes</div>
</a>
<ul class="sidenav-menu">


<li class="sidenav-item">
<a href="brand_add.php" class="sidenav-link">
<div>Add/View Brand</div>
</a>
</li>
<li class="sidenav-item">
<a href="size_add.php" class="sidenav-link">
<div>Add/View Size</div>
</a>
</li>
<li class="sidenav-item">
<a href="color_add.php" class="sidenav-link">
<div>Add/View Color</div>
</a>
</li>
</ul>
</li>



<li class="sidenav-item active" style="display:none;">
<a href="javascript:" class="sidenav-link sidenav-toggle">
<i class="sidenav-icon feather icon-grid"></i>
<div>Catalog</div>
</a>
<ul class="sidenav-menu">
<li class="sidenav-item">
<a href="catalog_add.php" class="sidenav-link">
<div>Add Catalog</div>
</a>
</li>
<li class="sidenav-item">
<a href="catalog_view.php" class="sidenav-link">
<div>View Catalog</div>
</a>
</li>
</ul>
</li>
<li class="sidenav-item active">
<a href="javascript:" class="sidenav-link sidenav-toggle">
<i class="sidenav-icon feather icon-grid"></i>
<div>Catalog</div>
</a>
<ul class="sidenav-menu">
<li class="sidenav-item">
<a href="product_add.php" class="sidenav-link">
<div>Add Catalog</div>
</a>
</li>
<li class="sidenav-item">
<a href="product_view.php" class="sidenav-link">
<div>View Catalog</div>
</a>
</li>

<li class="sidenav-item">
<a href="skuwise_report.php" class="sidenav-link">
<div>Sku Wise Report</div>
</a>
</li>
<li class="sidenav-item">
<a href="high_demand_product.php" class="sidenav-link">
<div>High Demanding Catalog</div>
</a>
</li>
</ul>
</li>
<li class="sidenav-item active">
<a href="javascript:" class="sidenav-link sidenav-toggle">
<i class="sidenav-icon feather icon-grid"></i>
<div>Custome Attribute</div>
</a>
<ul class="sidenav-menu">
<li class="sidenav-item">
<a href="attribute.php" class="sidenav-link">
<div>Add Attribute</div>
</a>
</li>
 <li class="sidenav-item">
<a href="sub_attribute.php" class="sidenav-link">
<div>Add Sub-Attribute</div>
</a>
</li>
</ul>
</li>

<li class="sidenav-item active">
<a href="javascript:" class="sidenav-link sidenav-toggle"> <i class="sidenav-icon feather icon-grid"></i>
<div>Coupon</div>
</a>
<ul class="sidenav-menu">
<li class="sidenav-item">
<a href="coupon_add.php" class="sidenav-link">
<div>Add/view Coupon</div>
</a>
</li>
</ul>
</li>


<li class="sidenav-item active">
<a href="javascript:" class="sidenav-link sidenav-toggle">
<i class="sidenav-icon feather icon-grid"></i>
<div>Order</div>
<div class="pl-1 ml-auto">
<div class="badge badge-primary"></div>
</div>
</a>
<ul class="sidenav-menu">
<li class="sidenav-item">
<a href="order_list.php" class="sidenav-link">
<div>Order List</div>
</a>
</li>

<li class="sidenav-item">
<a href="upload_tracking_details.php" class="sidenav-link">
<div>Upload Tracking Details</div>
</a>
</li>
</ul>
</li>
<li class="sidenav-item active">
<a href="javascript:" class="sidenav-link sidenav-toggle">
<i class="sidenav-icon feather icon-grid"></i>
<div>Inquiry</div>
<div class="pl-1 ml-auto">
<div class="badge badge-primary"></div>
</div>
</a>
<ul class="sidenav-menu">
<li class="sidenav-item">
<a href="inquiry_list.php" class="sidenav-link">
<div>Inquiry List</div>
</a>
</li>
</ul>
</li>
<li class="sidenav-item active">
<a href="javascript:" class="sidenav-link sidenav-toggle">
<i class="sidenav-icon feather icon-grid"></i>
<div>About Us</div>
<div class="pl-1 ml-auto">
<div class="badge badge-primary"></div>
</div>
</a>
<ul class="sidenav-menu">
<li class="sidenav-item">
<a href="about_us.php" class="sidenav-link">
<div>Edit About Us</div>
</a>
</li>
</ul>
</li>
<li class="sidenav-item active">
<a href="javascript:" class="sidenav-link sidenav-toggle">
<i class="sidenav-icon feather icon-grid"></i>
<div>Subscribers</div>
</a>
<ul class="sidenav-menu">
<li class="sidenav-item">
<a href="subscribers_list.php" class="sidenav-link">
<div>View Subscribers List</div>
</a>
</li>
</ul>
</li>
<li class="sidenav-item active">
<a href="javascript:" class="sidenav-link sidenav-toggle">
<i class="sidenav-icon feather icon-grid"></i>
<div>Shiprocket</div>
</a>
<ul class="sidenav-menu">
<li class="sidenav-item">
<a href="export_shiprocket.php" class="sidenav-link">
<div>Export Shiprocket Sheet</div>
</a>
</li>
</ul>
</li>

<li class="sidenav-item active">
<a href="javascript:" class="sidenav-link sidenav-toggle">
<i class="sidenav-icon feather icon-grid"></i>
<div>Courier Master</div>
</a>
<ul class="sidenav-menu">
<li class="sidenav-item">
<a href="courier_add.php" class="sidenav-link">
<div>Add/View Courier</div>
</a>
</li>
</ul>
</li>
<li class="sidenav-item active">
<a href="javascript:" class="sidenav-link sidenav-toggle">
<i class="sidenav-icon feather icon-grid"></i>
<div>Users</div>
<div class="pl-1 ml-auto">
<div class="badge badge-primary"></div>
</div>
</a>
<ul class="sidenav-menu">

<li class="sidenav-item">
<a href="users_list.php" class="sidenav-link">
<div>View Users List</div>
</a>
</li>
</ul>
</li>
<li class="sidenav-item active">
<a href="javascript:" class="sidenav-link sidenav-toggle">
<i class="sidenav-icon feather icon-grid"></i>
<div>ADD Blog</div>
</a>
<ul class="sidenav-menu">
<li class="sidenav-item">
<a href="blog_add.php" class="sidenav-link">
<div>Add/view blog</div>
</a>
</li>
</ul>
</li>
<li class="sidenav-item active">
<a href="javascript:" class="sidenav-link sidenav-toggle">
<i class="sidenav-icon feather icon-grid"></i>
<div>Dealers</div>
</a>
<ul class="sidenav-menu">
<li class="sidenav-item">
<a href="dealer_add.php" class="sidenav-link">
<div>Add/View Dealers</div>
</a>
</li>
<li class="sidenav-item">
<a href="dealerwise_products.php" class="sidenav-link">
<div>Dealer Wise Products</div>
</a>
</li>
</ul>
</li>













</ul>
</div> 

<div class="layout-container">

<nav class="layout-navbar navbar navbar-expand-lg align-items-lg-center bg-dark container-p-x" id="layout-navbar">

<a href="index.html" class="navbar-brand app-brand demo d-lg-none py-0 mr-4">
<span class="app-brand-logo demo">
<img src="https://varaafashions.com//images/logo.png" alt="Brand Logo" class="img-fluid" style="width:32px;">
</span>
<span class="app-brand-text demo font-weight-normal ml-2">Empire</span>
</a>

<div class="layout-sidenav-toggle navbar-nav d-lg-none align-items-lg-center mr-auto">
<a class="nav-item nav-link px-0 mr-lg-4" href="javascript:">
<i class="ion ion-md-menu text-large align-middle"></i>
</a>
</div>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#layout-navbar-collapse">
<span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-collapse collapse" id="layout-navbar-collapse">

<hr class="d-lg-none w-100 my-2">
<div class="navbar-nav align-items-lg-center">


</div>
<div class="navbar-nav align-items-lg-center ml-auto">
<div class="demo-navbar-notifications nav-item dropdown mr-lg-3">

<div class="dropdown-menu dropdown-menu-right">
<div class="bg-primary text-center text-white font-weight-bold p-3">
4 New Notifications
</div>
<div class="list-group list-group-flush">
<a href="javascript:" class="list-group-item list-group-item-action media d-flex align-items-center">
<div class="ui-icon ui-icon-sm feather icon-home bg-secondary border-0 text-white"></div>
<div class="media-body line-height-condenced ml-3">
<div class="text-dark">Login from 192.168.1.1</div>
<div class="text-light small mt-1">
Aliquam ex eros, imperdiet vulputate hendrerit et.
</div>
<div class="text-light small mt-1">12h ago</div>
</div>
</a>
<a href="javascript:" class="list-group-item list-group-item-action media d-flex align-items-center">
<div class="ui-icon ui-icon-sm feather icon-user-plus bg-info border-0 text-white"></div>
<div class="media-body line-height-condenced ml-3">
<div class="text-dark">You have
<strong>4</strong> new followers</div>
<div class="text-light small mt-1">
Phasellus nunc nisl, posuere cursus pretium nec, dictum vehicula tellus.
</div>
</div>
</a>
<a href="javascript:" class="list-group-item list-group-item-action media d-flex align-items-center">
<div class="ui-icon ui-icon-sm feather icon-power bg-danger border-0 text-white"></div>
 <div class="media-body line-height-condenced ml-3">
<div class="text-dark">Server restarted</div>
<div class="text-light small mt-1">
19h ago
</div>
</div>
</a>
<a href="javascript:" class="list-group-item list-group-item-action media d-flex align-items-center">
<div class="ui-icon ui-icon-sm feather icon-alert-triangle bg-warning border-0 text-dark"></div>
<div class="media-body line-height-condenced ml-3">
<div class="text-dark">99% server load</div>
<div class="text-light small mt-1">
Etiam nec fringilla magna. Donec mi metus.
</div>
<div class="text-light small mt-1">
20h ago
</div>
</div>
</a>
</div>
<a href="javascript:" class="d-block text-center text-light small p-2 my-1">Show all notifications</a>
</div>
</div>
<div class="demo-navbar-messages nav-item dropdown mr-lg-3">

<div class="dropdown-menu dropdown-menu-right">
<div class="bg-primary text-center text-white font-weight-bold p-3">
4 New Messages
</div>
<div class="list-group list-group-flush">
<a href="javascript:" class="list-group-item list-group-item-action media d-flex align-items-center">
<img src="/public/assets/img/avatars/6-small.png" class="d-block ui-w-40 rounded-circle" alt>
<div class="media-body ml-3">
<div class="text-dark line-height-condenced">Lorem ipsum dolor consectetuer elit.</div>
<div class="text-light small mt-1">
Josephin Doe &nbsp;·&nbsp; 58m ago
</div>
</div>
</a>
<a href="javascript:" class="list-group-item list-group-item-action media d-flex align-items-center">
<img src="/public/assets/img/avatars/4-small.png" class="d-block ui-w-40 rounded-circle" alt>
<div class="media-body ml-3">
<div class="text-dark line-height-condenced">Lorem ipsum dolor sit amet, consectetuer.</div>
<div class="text-light small mt-1">
Lary Doe &nbsp;·&nbsp; 1h ago
 </div>
</div>
</a>
<a href="javascript:" class="list-group-item list-group-item-action media d-flex align-items-center">
<img src="/public/assets/img/avatars/5-small.png" class="d-block ui-w-40 rounded-circle" alt>
<div class="media-body ml-3">
<div class="text-dark line-height-condenced">Lorem ipsum dolor sit amet elit.</div>
<div class="text-light small mt-1">
Alice &nbsp;·&nbsp; 2h ago
</div>
</div>
</a>
<a href="javascript:" class="list-group-item list-group-item-action media d-flex align-items-center">
<img src="/public/assets/img/avatars/11-small.png" class="d-block ui-w-40 rounded-circle" alt>
<div class="media-body ml-3">
<div class="text-dark line-height-condenced">Lorem ipsum dolor sit amet consectetuer amet elit dolor sit.</div>
<div class="text-light small mt-1">
Suzen &nbsp;·&nbsp; 5h ago
</div>
</div>
</a>
</div>
<a href="javascript:" class="d-block text-center text-light small p-2 my-1">Show all messages</a>
</div>
</div>

<div class="nav-item d-none d-lg-block text-big font-weight-light line-height-1 opacity-25 mr-3 ml-1">|</div>
<div class="demo-navbar-user nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
<span class="d-inline-flex flex-lg-row-reverse align-items-center align-middle">
<img src="https://varaafashions.com/cust_img/logo.png" style="background:white;height:30px;" alt class="d-block ui-w-30 rounded-circle">
<span class="px-1 mr-lg-2 ml-2 ml-lg-0">Admin</span>
</span>
</a>
<div class="dropdown-menu dropdown-menu-right">

<a href="change_password.php" class="dropdown-item">
<i class="feather icon-sliders text-danger"></i> &nbsp; Change Password
</a>
<a href="logout.php" class="dropdown-item">
<i class="feather icon-power text-danger"></i> &nbsp; Log Out
</a>
</div>
</div>
</div>
</div>
</nav>
<style>
	.select2-results__option--highlighted {
    background: rgba(24,28,33,0.1);
}
	</style> 

<div class="layout-content">

<div class="container-fluid flex-grow-1 container-p-y">
<h4 class="font-weight-bold py-3 mb-0">Add Catalog</h4>
<div class="text-muted small mt-0 mb-4 d-block breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="index.php"><i class="feather icon-home"></i></a>
</li>
<li class="breadcrumb-item ">Catalog</li>
<li class="breadcrumb-item active">Add Catalog</li>
</ol>
</div>
<form method="POST" action="ajaxfiles/product_add_process.php" enctype="multipart/form-data">

<div class="row">
<div class="col-md-6">
<div class="card mb-4">
<h6 class="card-header">Add New Catalog</h6>
<div class="card-body">
<div class="form-group">
<label class="form-label">Select Categories</label>
<select class="select2-demo form-control" multiple style="width: 100%" id="selected_cat" name="selected_cat[]" onchange="get_subcat1()" autofocus>
<option value="5">
Kurtas & Kurtis</option>
<option value="7">
Western Wear</option>
<option value="8">
Ethnic Wear </option>
<option value="9">
Bottom Wear</option>
</select>
</div>
<div class="form-group">
<label class="form-label">Select Subcategories</label>
<select class="select2-demo form-control" multiple style="width: 100%" id="get_subcat" name="selected_subcat[]">
<option value=""></option>
</select>
</div>

</div>
</div>
</div>
</div>
<div id="products" class="row">
<div class="col-md-6">
<div class="card mb-4">
<h6 class="card-header">Catalog 1</h6>
<div class="card-body">
<label class="form-group col-md-4">
<input type="radio" name="product_type1" value="Ready to Ship"> Ready to
Ship
</label>
<label class="form-group col-md-4">
<input type="radio" name="product_type1" value="Upcoming"> Upcoming
</label>
<label class="form-group col-md-4">
<input type="radio" name="product_type1" value="Ask Availibility"> Ask
Availibility
</label>
<label class="form-group col-md-4">
<input type="radio" name="product_type1" value="best seller"> best seller
</label>
<label class="form-group col-md-4">
<input type="radio" name="product_type1" value=""> None
</label>
<div class="form-group col-md-12">
<label class="form-label col-md-12">
<input type="checkbox" id="upcoming_checkbox2" name="upcoming_checkbox[]"> Featured
</label>
</div>
<div class="form-group col-md-12">
<label class="form-label col-md-12">
<input type="checkbox" id="upcoming_checkbox1" name="upcoming_checkbox[]"> BEST SELLER
</label>
</div>

<div class="form-group col-md-12">
<label class="form-label">Select Image</label>
<input type="file" name="image_file[]" accept="image/*" class="form-control" onchange="readURL(this,1);" id="image_file1">
<img id="blah1" style="max-width:150px;max-height:150px;margin: auto;padding: 10px;">
</div>
<div class="form-group col-md-12">
<label class="form-label col-md-12">Select Sub-Images</label>
<input type="file" name="subimage_file1[]" accept="image/*,video/*" class="form-control" multiple onchange="get_subimages(this,1);" id="subimage_file1">
<div class="gallery1"></div>
</div>


<div class="form-group col-md-12">
<label class="form-label">HSN Code</label>
<input type="text" class="form-control" id="product_hsn1" name="product_hsn[]">
</div>
<div class="form-group col-md-12">
<label class="form-label">Title</label>
<input type="text" class="form-control" id="product_name1" name="product_name[]">
</div>
<div class="form-group col-md-12">
<label class="form-label">Title Short</label>
<input type="text" class="form-control" id="cname1" name="cname[]">
</div>

<div class="form-group col-md-12">
<label class="form-label">Select Brand</label>
<select class="select2-demo form-control" style="width: 100%" id="selected_brand1" name="selected_brand[]">
<option value="">Select Brand</option>
<option value="1">
Varaa</option>
</select>
</div>
<div class="form-group">
<label class="form-label">Want to Add Color?</label>
<input type="checkbox" id="color_checkbox1" name="color_checkbox1[]" onchange="fetch_color_images_sec(1)">
</div>
<div class="form-group color_btn1" style="display:none;">
<button type="button" class="btn btn-info" onclick="add_color(1)">Add
Color</button>
</div>
<div class="color_sec1 col-12 colorss" style="float:left;display:none;">
<div class="row col-md-12" style="border: 1px solid;border-radius: 10px">
<div class="form-group col-md-4">
<label class="form-label">Select Color</label>
<select class="select2-demo form-control color_dis" style="width: 100%" id="selected_color1" name="selected_color1[]">
<option value="">Select Color</option>
</select>
</div>
<div class="form-group col-md-4 color_image_sec1">
<label class="form-label">Select Image</label>
<input type="file" name="image_file_color1[]" accept="image/*" class="form-control" onchange="readURL1(this,1);" id="image_file_color1">
<img id="color_blah1" style="max-width:150px;max-height:150px;margin: auto;padding: 10px;">
</div>
<div class="form-group col-md-12">
<label class="form-label col-md-12">Select Sub-Images</label>
<input type="file" name="subimage_file_color1_1[]" accept="image/*,video/*" class="form-control" multiple onchange="get_subimages2(this,1,1);" id="subimage_file_color1_1">
<div class="gallery1_1 gallery_color1"></div>
</div>

</div><br>
</div>
<div class="form-group col-md-6" style="float:left;">
<label class="form-label">MRP Price Per Pc</label>
<input type="number" class="form-control" id="mrp_price1" name="mrp_price[]">
</div>
<div class="form-group col-md-6" style="float:right;">
<label class="form-label"> SALE Price Per Pc</label>
<input type="number" class="form-control" id="product_price1" name="product_price[]">
</div>

<div class="form-group col-md-6" style="float:left;">
<label class="form-label">PCS</label>
<input type="number" class="form-control" value="1" id="catalog_pcs1" name="catalog_pcs[]">
</div>
<div class="form-group col-md-6" style="float:right;">
<label class="form-label">GST</label>
<input type="number" class="form-control" id="product_gst1" value="5" name="product_gst[]">
</div>
<div class="form-group col-md-6" style="float:left;">
<label class="form-label">Weight (kg)</label>
<input type="number" value="1" class="form-control" step="0.01" id="product_weight1" name="product_weight[]">
</div>
<div class="form-group col-md-6" style="float:right;">
<label class="form-label">Stitch</label>
<select class="form-control" id="product_stitch1" name="product_stitch[]">

<option value="Unstitched">Unstitched</option>
<option value="Semi Stitched">Semi Stitched</option>
<option value="Full Stitched">Full Stitched</option>
</select>
</div>
<div class="form-group">
<label class="form-label">Video Link</label>
<input type="text" class="form-control" id="video_link1" value="" name="video_link[]">
</div>
<div class="form-group">
<label class="form-label">Is Size Available?</label>
<input type="checkbox" id="size_checkbox1" name="size_checkbox1[]" onchange="check_size_available(1)">
</div>

<div id="unchecked_size1">
<div class="form-group">
<label class="form-label">Quantity (Stock)</label>
<input type="number" value="5" class="form-control" id="product_quantity1" name="product_quantity[]">
</div>

</div>
<div id="checked_size1" style="display:none;">
<div class="form-group">
<button type="button" class="btn btn-info" onclick="add_size(1)">Add
Size</button>
</div>
<div id="show_size1">
<div class="row">
<div class="form-group col-md-4">
<label class="form-label">Size</label>
<select class="form-control" id="product_size1" name="product_size1[]">
<option value="1">
M </option>
<option value="2">
S </option>
<option value="3">
L </option>
<option value="4">
XL </option>
<option value="5">
XXL </option>
<option value="6">
3XL </option>
<option value="7">
4XL </option>
 <option value="8">
5XL </option>
</select>
</div>
<div class="form-group col-md-4">
<label class="form-label">Quantity</label>
<input type="number" value="5" class="form-control" id="product_quantity1" name="product_quantity1[]">
</div>
<div class="form-group col-md-4">
<label class="form-label">Price</label>
<input type="number" class="form-control" id="size_price1" name="size_price1[]">
</div>
</div>
</div>
</div>
<div class="row">
<div class="form-group col-md-12">
<label class="form-label col-md-12"></label>
<button type="button" class="btn btn-info" style="margin: 8px;border-radius: 25px;" id="btn" onclick="add_attribute(1)"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Add
Atrributes</button>
</div>
</div>
<div id="show_attribute1"></div>


<span class="extrablock accessories_block" style="display:none;">
<div class="row">
<div class="form-group col-md-6">
<label class="form-label">Length</label>
<input type="text" class="form-control" id="accessories_length1" name="accessories_length[]">
</div>
<div class="form-group col-md-6">
 <label class="form-label">Fabric</label>
<input type="text" class="form-control" id="fabric1" name="fabric[]">
</div>
</div>
</span>
<span class="extrablock kurtiesblock western_night_wearblock" style="display:none;">
<div class="row">
<div class="form-group col-md-6">
<label class="form-label">Top</label>
<input type="text" class="form-control" id="top_fabric1" name="top_fabric[]">
</div>
<div class="form-group col-md-6">
<label class="form-label">Bottom</label>
<input type="text" class="form-control" id="bottom_fabric1" name="bottom_fabric[]">
</div>
<div class="form-group col-md-6">
<label class="form-label">Top Length</label>
<input type="text" class="form-control" id="length1" name="length[]">
</div>
<div class="form-group col-md-6">
<label class="form-label">Bottom Length</label>
<input type="text" class="form-control" id="bottom1" name="bottom[]">
</div>
</div>
</span>
<span class="extrablock sareesblock" style="display:none;">
<div class="row">
<div class="form-group col-md-6">
<label class="form-label">Saree</label>
<input type="text" class="form-control" id="saree_fabric1" name="saree_fabric[]">
</div>
<div class="form-group col-md-6">
<label class="form-label">Cut</label>
<input type="text" class="form-control" id="cut1" name="cutfab[]">
</div>
</div>
</span>
<span class="extrablock lehengablock" style="display:none;">
<div class="row">
<div class="form-group col-md-6">
<label class="form-label">Lehenga</label>
<input type="text" class="form-control" id="lehenga_fabric1" name="lehenga_fabric[]">
</div>
</div>
</span>
<span class="extrablock lehengablock kurtiesblock" style="display:none;">
<div class="row">
<div class="form-group col-md-6">
<label class="form-label">Dupatta</label>
<input type="text" class="form-control" id="dupatta_fabric1" name="dupatta_fabric[]">
</div>
<div class="form-group col-md-6">
<label class="form-label">Inner</label>
<input type="text" class="form-control" id="ideal_for1" name="inner_for[]">
</div>
</div>
</span>
<span class="extrablock lehengablock sareesblock" style="display:none;">
<div class="row">
<div class="form-group col-md-6">
<label class="form-label">Blouse</label>
<input type="text" class="form-control" id="blouse_fabric1" name="blouse_fabric[]">
</div>
</div>
</span>
<div class="form-group">
<label class="form-label col-md-12">Disable Date</label>
<input type="datetime-local" class="form-control" id="disable_date1" name="disable_date[]">
</div>
<div class="form-group">
<label class="form-label">Catalog Short Description</label>
<input type="text" class="form-control" id="product_short_description1" name="product_short_description[]">
</div>

<div class="form-group" style="display:none;">
<label class="form-label">Product Status</label>
<select class="form-control" id="product_status1" name="product_status[]">
<option value="Publish">Publish</option>
<option value="Draft">Draft</option>
<option value="Private">Private</option>
</select>
</div>
 <div class="form-group">
<label class="form-label">Meta Title</label>
<input type="text" class="form-control" id="product_meta_title1" name="product_meta_title[]">
</div>
<div class="form-group">
<label class="form-label">Meta Keyword</label>
<input type="text" class="form-control" id="product_meta_keyword1" name="product_meta_keyword[]">
</div>
<div class="form-group">
<label class="form-label">Meta Description</label>
<input type="text" class="form-control" id="product_meta_desc1" name="product_meta_desc[]">
</div>
<div class="form-group">
<label class="form-label">Other Details</label>
<textarea class="ckeditor" name="editor[]" id="editor1"></textarea>
</div>
<input type="hidden" value="2" id="total" name="total">
<input type="hidden" value="2" id="total_size1" name="total_size1">
<input type="hidden" value="2" id="total_color1" name="total_color1">
<input type="hidden" value="1" id="total_attribute1" name="total_attribute1">
<small class="form-text text-muted" id="error1" style="display:none;margin-bottom:15px; color:red !important;"></small>

<input type="button" onclick="submit_product()" class="btn btn-success" style="float:right;" value="Submit">

</div>
</div>
</div>
</div>
</form>
</div>


<nav class="layout-footer footer bg-white">
<div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
<div class="pt-3">
<span class="footer-text font-weight-semibold">&copy; <a href="https://varaafashions.com/" class="footer-link" target="_blank">Online Shop - Shopping Store of varaafashions.com</a></span>
</div>
<div>
<a href="javascript:" class="footer-link pt-3">About Us</a>
<a href="javascript:" class="footer-link pt-3 ml-4">Help</a>
<a href="javascript:" class="footer-link pt-3 ml-4">Contact</a>
<a href="javascript:" class="footer-link pt-3 ml-4">Terms &amp; Conditions</a>
</div>
</div>
</nav> 
</div>

</div>

</div>

<div class="layout-overlay layout-sidenav-toggle"></div>
</div>


<script src="/public/assets/js/pace.js"></script>
<script src="/public/assets/js/jquery-3.2.1.min.js"></script>
<script>
    /*		$(document).on('focus', '.select2-selection.select2-selection--single', function (e) {
  $(this).closest(".select2-container").siblings('select:enabled').select2('open');
});

// steal focus during close - only capture once and stop propogation
$('select.select2').on('select2:closing', function (e) {
  $(e.target).data("select2").$selection.one('focus focusin', function (e) {
    e.stopPropagation();
  });
});*/
    </script>
<script src="/public/assets/libs/popper/popper.js"></script>
<script src="/public/assets/js/bootstrap.js"></script>
<script src="/public/assets/js/sidenav.js"></script>
<script src="/public/assets/js/layout-helpers.js"></script>
<script src="/public/assets/js/material-ripple.js"></script>

<script src="/public/assets/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/public/assets/libs/eve/eve.js"></script>
<script src="/public/assets/libs/flot/flot.js"></script>
<script src="/public/assets/libs/flot/curvedLines.js"></script>
<script src="/public/assets/libs/chart-am4/core.js"></script>
<script src="/public/assets/libs/chart-am4/charts.js"></script>
<script src="/public/assets/libs/chart-am4/animated.js"></script>
<script src="/public/assets/libs/raphael/raphael.js"></script>
<script src="/public/assets/libs/morris/morris.js"></script>
<script src="/public/assets/libs/moment/moment.js"></script>
<script src="/public/assets/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.js"></script>
<script src="/public/assets/libs/datatables/datatables.js"></script>
<script src="/public/assets/libs/dropzone/dropzone.js"></script>
<script src="/public/assets/libs/bootstrap-select/bootstrap-select.js"></script>
<script src="/public/assets/libs/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<script src="/public/assets/libs/select2/select2.js"></script>
<script src="/public/assets/libs/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
<script src="/public/assets/libs/growl/growl.js"></script>

<script src="/public/assets/js/demo.js"></script>
<script src="/public/assets/js/analytics.js"></script>
<script src="/public/assets/js/pages/forms_selects.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.0/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.print.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.4.0/css/buttons.dataTables.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
<style>
    .remove_img_preview {
        position: absolute;
        /* top: -31px;
			right: 17px; */
        background: black;
        color: white;
        border-radius: 50px;
        font-size: 0.9em;
        padding: 0 0.3em 0;
        text-align: center;
        cursor: pointer;
        right: 42px;
    }

    .remove_img_preview:before {
        content: "×";
    }

    .gallery1 {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .gallery1 span[id*="1_"] {
        position: relative;
    }

    .gallery1 span[id*="1_"] img {
        max-height: 140px !important;
    }

    .gallery_color1 {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .gallery_color1 span[id*="1_"] {
        position: relative;
    }

    .gallery_color1 span[id*="1_"] img {
        max-height: 140px !important;
    }


    .btn-info {
        background: black;
        box-shadow: 0 2px 4px -1px rgb(0 0 0 / 7%), 0 4px 5px 0 rgb(0 0 0 / 5%), 0 1px 10px 0 rgb(0 0 0 / 3%);
        color: #fff;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -4.75rem;
        margin-left: -0.75rem;
    }

    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    </style>
<div class="modal fade" id="myModal" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<button type="button" class="close" data-dismiss="modal" style="color: black;opacity: unset;"><i class="fa fa-times-circle" aria-hidden="true" style="float: right;"></i></button>
<div class="modal-body">
<div class="form-group">
<label class="form-label">Select Attribute</label>
<input type="hidden" id="dynamicid">
<select class="form-control" style="width: 100%" id="attribute_name" name="attribute_name">
<option value="">Select Attribute</option>
</select>
</div>
<div class="form-group">
<input type="text" name="sub_attribute_name" id="sub_attribute_name" placeholder="Sub Attribute Name" class="form-control form_control" required="">
</div>
<p id="subattribute_error" style="font-size:15px;color:red;display:none;"></p>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" style="color: white;background-color: green;" onclick="sub_attribute_add()">Add</button>
</div>
</div>
</div>
</div>
<script>
    //Attributes//
    function add_attribute(i) {
        var k = $("#total_attribute" + i).val();

        var append_attribute = `<div class="attributediv" id="attribute${i}_${k}">
                            <div class="row">
                                    <div class="form-group col-md-1">
                                    <label class="form-label col-md-12"></label>
                                    <button type="button" class="btn btn-info" style="margin: 8px;border-radius: 25px;background: green;" id="btn" onclick="add_attribute(1)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                    </div>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                        <div class="form-group col-md-4">
                                    <label class="form-label col-md-12"> Select Attribute </label>

                                    <select id="product_attributea${i}_${k}" name="product_attributea${i}[${k}][]" class="select2-demo form-control abc" onchange="myfun(this.value,${i},${k})" data-placeholder="Choose Sub Category">
                                        <option value="" disabled selected>Choose Attribute</option>
                                        <option value="">Attribute not available</option>                            
                                    </select>

                                    </div>

                                    <div class="form-group col-md-4">
                                    <label class="form-label col-md-12" data-toggle="modal" data-target="#myModal" id="atimepicker" data-value="11:45AM" style="display:flex;"> Select Sub Attribute <i class="fas fa-plus" id="plusattribute${i}_${k}" onclick="attributeAdd(${i},${k})" style="background: black;font-size: 10px;border-radius: 10px;width: 20px;height: 20px;padding: 5px;color: white;cursor: pointer;display:none;"></i></label>
                                    <select id="product_subattribute${i}_${k}" name="product_subattribute${i}[${k}][]" class="select2-demo form-control abc1" multiple="multiple">
									</select>
                                    </div>

                                    <div class="form-group col-md-1">
                                    <label class="form-label col-md-12"></label>
                                    <button style="margin: 6px;background: red;border-radius: 25px;" type="button" class="btn btn-info" onclick="remove_attribute(${i},${k})" id="btnn${i}_${k}"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                            </div>`;
        $("#show_attribute" + i).append(append_attribute);
        k++;
        $("#total_attribute" + i).val(k);
        chnagedrop();
    }

    function chnagedrop() {
        $(".abc option").removeAttr('disabled');
        $(".abc :selected").each(function() {
            var selectedValue = $(this).val();
            $(".abc option[value='" + selectedValue + "']").prop('disabled', true);
        });
        $(".select2-demo").select2();
    }
    $(document).on('change', '.abc', function() {
        chnagedrop()
    })

    function remove_attribute(i, k) {
        var j = $("#total_attribute" + i).val();
        var remove = parseInt(j) - 1;

        console.log("remove=" + remove);
        $("#attribute" + i + "_" + k).remove();
        if (k == remove) {
            $("#total_attribute" + i).val(remove);
        }
        if (!jQuery("div").hasClass("attributediv")) {
            $("#total_attribute" + i).val(2);
        }
        chnagedrop();
    }
    //End Attributes//
    </script>
<script>
    function sub_attribute_add() {
        var attribute_name = $("#attribute_name").val();
        var sub_attribute_name = $("#sub_attribute_name").val();
        /* if(attribute_name == "" && sub_attribute_name == "")
        {
        	$("#subattribute_error").show();
        	$("#subattribute_error").html("ALL FILEDS ARE REQUIRED.");
        	setTimeout(function(){ $("#subattribute_error").hide();}, 1000);
        } */
        /* 	else
        	{ */
        $("#subattribute_error").hide();
        $.ajax({
            type: "POST",
            dataType: "JSON",
            data: {
                attribute_name: attribute_name,
                sub_attribute_name: sub_attribute_name
            },
            url: "https://varaafashions.com/retail-admin/ajaxfiles/subattribute_pop_process.php",
            success: function(response) {
                if (response.status == "ok") {
                    var dynamicid = $("#dynamicid").val();
                    $('#product_subattribute' + dynamicid).append('<option value="' + sub_attribute_name +
                        '">' + sub_attribute_name + '</option>');

                    setTimeout(function() {
                        $(".close").click();
                    }, 1000);
                    $("#dynamicid").val("");
                    $("#attribute_name").val("");
                    $("#sub_attribute_name").val("");
                    $('#attribute_name').prop('disabled', false);

                }
                if (response.status == "error") {
                    $("#subattribute_error").show();
                    $("#subattribute_error").html(response.message);

                }
            }
        });
        /* } */
    }

    function attributeAdd(i, k) {

        var selected_attr = $("#product_attributea" + i + "_" + k + " option[disabled]:selected").val();
        $("#attribute_name").val(selected_attr);
        $('#attribute_name').prop('disabled', true);
        $("#dynamicid").val(i + "_" + k);
        //    $('#modal').modal('show');
    }

    var imageArray = [];

    // Multiple images preview in browser
    function imagesPreview(input, placeToInsertImagePreview, productcount) {
        if (input.files && imageArray.length) {
            var a = Array.from(input.files);
            //console.log(a);
            var b = imageArray;
            //console.log(b);
            var c = b.concat(a);
            input.files = new FileListItem(c);
            imageArray = c;
        } else if (imageArray.length) {
            var a = new FileListItem(imageArray);
            input.files = new FileListItem(imageArray);
            imageArray = a;
        }

        if (input.files) {
            var filesAmount = input.files.length;
            imageArray = Array.from(input.files);
            var j = 0;

            for (i = 0; i < filesAmount; i++) {

                var currFile = imageArray[i];

                var reader = new FileReader();
                reader.onload = (function(theFile) {
                    j++;
                    var fileName = theFile.name;
                    console.log("hii=", fileName);
                    var id = productcount + '_img' + j;
                    return function(event) {
                        $($.parseHTML('<span id="' + id +
                            '"><img   style="max-height:100px;max-width:100px;margin:5px;cursor:pointer;" src="' +
                            event.target.result +
                            '"><span class="remove_img_preview" onclick="remove_image(\'' + id +
                            '\',' + productcount + ',' + j + ',\'' + fileName +
                            '\')"></span></span>')).appendTo(placeToInsertImagePreview);
                    };
                })(currFile);

                reader.readAsDataURL(input.files[i]);

            }
        }
    }

    var imagearray = [];

    function imagesPreview2(input, placeToInsertImagePreview, productcount, k) {
        // var imagearray = [];
        if (imagearray[k] == null) {
            imagearray[k] = [];
        }



        if (input.files && imagearray[k].length > 0) {
            var a = Array.from(input.files);
            console.log(a);
            var b = imagearray[k];
            console.log(b);
            var c = b.concat(a);
            input.files = new FileListItem(c);
            imagearray[k] = c;
        } else if (imagearray[k].length) {
            var a = new FileListItem(imagearray[k]);
            input.files = new FileListItem(imagearray[k]);
            imagearray[k] = a;
        }

        if (input.files) {
            var filesAmount = input.files.length;
            imagearray[k] = Array.from(input.files);
            var j = 0;

            for (i = 0; i < filesAmount; i++) {

                var currFile = imagearray[k][i];

                var reader = new FileReader();
                reader.onload = (function(theFile) {
                    j++;
                    var fileName = theFile.name;
                    console.log("hii=", fileName);
                    var id = productcount + '_img' + j + k;
                    // var nw_img_name = fileName.split("/");
                    var nw_img_name = fileName.replace(".", "_");
                    console.log('new name-', nw_img_name);
                    return function(event) {

                        $($.parseHTML('<span id="' + id + '" class="' + nw_img_name +
                            '"><img   style="max-height:100px;max-width:100px;margin:5px;cursor:pointer;" src="' +
                            event.target.result +
                            '"><span class="remove_img_preview" onclick="remove_image2(\'' +
                            nw_img_name + '\',' + productcount + ',' + j + ',\'' + fileName +
                            '\',\'' + k + '\')"></span></span>')).appendTo(placeToInsertImagePreview);
                    };
                })(currFile);

                reader.readAsDataURL(input.files[i]);

            }
        }
    }

    function myfun(datavalue, i, k) {

        var product_attributea = $("#product_attributea" + i + "_" + k).val();
        if (product_attributea != "") {
            $("#plusattribute" + i + "_" + k).css('display', 'block');
        } else {
            $("#plusattribute" + i + "_" + k).css('display', 'none');
        }

        $.ajax({
            url: 'ajaxfiles/product_attribute.php',
            type: 'POST',
            data: {
                datapost: datavalue
            },

            success: function(result) {
                $('#product_subattribute' + i + '_' + k + '').html(result);

            }
        });
    }

    function remove_image(id, i, j, img) {
        var a = Array.from($("#subimage_file" + i)[0].files);
        console.log(img);
        a = a.filter(function(elem) {
            return elem.name != img;
        });
        imageArray = a;
        //console.log(a);
        $("#subimage_file" + i)[0].files = new FileListItem(a);

        $("#" + id).remove();

    }

    function remove_image2(id, i, j, img, k) {
        var a = Array.from($("#subimage_file_color" + i + '_' + k)[0].files);
        console.log(id);
        console.log(k);
        a = a.filter(function(elem) {
            return elem.name != img;
        });
        imagearray[k] = a;
        //console.log(a);
        $("#subimage_file_color" + i + '_' + k)[0].files = new FileListItem(a);

        $("." + id).remove();

    }
    /* function remove_image(id,i,j)
    {
    	var a = Array.from($("#subimage_file"+i)[0].files);
    	j = j-1;
    	if(j > a.length - 1){
    		j = a.length - 1;
    	}
    	a.splice(j,1);
    	imageArray = a;
    	//console.log(a);
    	$("#subimage_file"+i)[0].files = new FileListItem(a);

    	$("#"+id).remove();

    } */
    function FileListItem(a) {
        a = [].slice.call(Array.isArray(a) ? a : arguments)
        for (var c, b = c = a.length, d = !0; b-- && d;) d = a[b] instanceof File
        if (!d) throw new TypeError("expected argument to FileList is File or array of File objects")
        for (b = (new ClipboardEvent("")).clipboardData || new DataTransfer; c--;) b.items.add(a[c])
        return b.files
    }

    function get_subimages(input, i) {
        //var a = Array.from($("#subimage_file"+i)[0].files);
        $('div.gallery' + i).html("");
        imagesPreview(input, 'div.gallery' + i, i);
    };

    function get_subimages2(input, i, k) {
        //var a = Array.from($("#subimage_file"+i)[0].files);
        $('div.gallery' + i + '_' + k).html("");
        imagesPreview2(input, 'div.gallery' + i + '_' + k, i, k);
    };
    function get_subvideo(input, i) {
        //var a = Array.from($("#subimage_file"+i)[0].files);
        $('div.gallery' + i).html("");
        imagesPreview(input, 'div.gallery' + i, i);
    };

    function get_subvideo2(input, i, k) {
        //var a = Array.from($("#subimage_file"+i)[0].files);
        $('div.gallery' + i + '_' + k).html("");
        imagesPreview2(input, 'div.gallery' + i + '_' + k, i, k);
    };
    </script>
<script>
    function check_size_available(i) {

        if ($("#size_checkbox" + i).prop("checked") == true) {
            $("#unchecked_size" + i).hide();
            $("#checked_size" + i).show();
            var product_price = $("#product_price" + i).val();
            $("#size_price" + i).val(product_price);

        } else if ($("#size_checkbox" + i).prop("checked") == false) {
            $("#unchecked_size" + i).show();
            $("#checked_size" + i).hide();
        }

    }

    function fetch_color_images_sec(id) {

        if ($("#color_checkbox" + id).prop("checked") == true) {
            $('.color_sec' + id).show();
            $('.color_btn' + id).show();
        } else if ($("#color_checkbox" + id).prop("checked") == false) {
            $('.color_sec' + id).hide();
            $('.color_btn' + id).hide();
        }
    }
    </script>
<script>
    function add_size(i) {
        var k = $("#total_size" + i).val();
        var product_price = $("#product_price" + i).val();
        var append_size = '<div id="sizes' + i + '_' + k +
            '"><div class="row"><div class="form-group col-md-3"><label class="form-label">Size</label><select class="form-control" id="product_size' +
            i + '_' + k + '" name="product_size' + i +
            '[]"><option value="1">M</option><option value="2">S</option><option value="3">L</option><option value="4">XL</option><option value="5">XXL</option><option value="6">3XL</option><option value="7">4XL</option><option value="8">5XL</option></select></div><div class="form-group col-md-3"><label class="form-label">Quantity</label><input type="number"  value="5" class="form-control" id="product_quantity' +
            i + '_' + k + '" name="product_quantity' + i +
            '[]"></div><div class="form-group col-md-4"><label class="form-label">Price</label><input type="number" class="form-control" id="size_price' +
            i + '" name="size_price' + i + '[]" value="' + product_price +
            '"></div><div class="form-group col-md-2"><button type="button" class="btn btn-round btn-default" onclick="remove_size(' +
            i + ',' + k +
            ')"><i class="ion ion-md-close align-middle" style="color:red;font-size:20px;"></i></button></div></div></div>';

        $("#show_size" + i).append(append_size);
        k++;
        $("#total_size" + i).val(k);
    };



    function readURL1(input, id) {
        console.log(id);
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $('#color_blah' + id)
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
    </script>
<script>
    function remove_size(i, k) {
        var j = $("#total_size" + i).val();
        var remove = parseInt(j) - 1;

        $("#sizes" + i + "_" + remove).remove();
        $("#total_size" + i).val(remove);

    }

    function remove_color(i, k) {
        var j = $("#total_color" + i).val();
        var remove = parseInt(j) - 1;
        $("#colors" + i + "_" + k).remove();
        if (k == remove) {
            $("#total_color" + i).val(remove);
        }
        if (!jQuery("div").hasClass("colorss")) {
            $("#total_color" + i).val(1);
        }
        /* $("#colors"+i+"_"+remove).remove();
        $("#total_color"+i).val(remove); */
        chnagedrop_color()

    }
    </script>
<script>
    function remove_prod() {
        //$("#remove_product").attr("disabled","disabled");
        var j = $("#total").val();
        var remove = parseInt(j) - 1;
        if (confirm("Remove Product " + remove)) {
            $("#product" + remove).remove();
            $("#total").val(remove);
        }

    }
    </script>
<script>
    function readURL(input, id) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $('#blah' + id)
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
    </script>
<script>
    /* function add_products(){
			var i = $("#total").val();

			var append = '<div class="col-md-6" id="product'+i+'"><div class="card mb-4" style=""><h6 class="card-header">Catalog '+i+'</h6><div class="card-body"><div class="form-group col-md-12"><label class="form-label col-md-3"><input type="radio" name="product_type'+i+'" value="Ready to Ship"> Ready to Ship </label><label class="form-label col-md-3"><input type="radio" name="product_type'+i+'" value="Upcomming"> Upcomming </label><label class="form-label col-md-3"><input type="radio" name="product_type'+i+'" value="Ask Availibility"> Ask Availibility </label></div><div class="form-group"><label class="form-label">Single Catalog</label><select class="select2-demo form-control" style="width: 100%" id="selected_catalog'+i+'" name="selected_catalog[]" autofocus><option value="Select">Select Catalog</option></select></div><div class="form-group col-md-6" style="float:left;"><label class="form-label">Select Image</label><input type="file" name="image_file[]" accept="image/*" class="form-control" onchange="readURL(this,'+i+');" id="image_file'+i+'"><img id="blah'+i+'" src="http://placehold.it/150" style="max-width:150px;max-height:150px;margin: auto;padding: 10px;"></div><div class="form-group col-md-6" style="float:right;"><label class="form-label col-md-12"><input type="checkbox" id="upcoming_checkbox'+i+'" name="upcoming_checkbox[]"> Featured</label></div><div class="form-group"><label class="form-label col-md-12">Select Sub-Images</label><input type="file" name="subimage_file'+i+'[]" accept="image/*" class="form-control" multiple onchange="get_subimages(this,'+i+');" id="subimage_file'+i+'"><div class="gallery'+i+'"></div></div><div class="form-group col-md-6" style="float:left;"><label class="form-label">SKU</label><input type="text" class="form-control" id="product_sku'+i+'" name="product_sku[]"></div><div class="form-group col-md-6" style="float:right;"><label class="form-label">HSN Code</label><input type="text" class="form-control" id="product_hsn'+i+'" name="product_hsn[]"></div><div class="form-group"><label class="form-label">Catalog Name</label><input type="text" class="form-control" id="product_name'+i+'" name="product_name[]"></div><div class="form-group"><label class="form-label">Catalog Name Short</label><input type="text" class="form-control" id="cname'+i+'" name="cname[]"></div><div class="form-group"><label class="form-label">Select Fabric</label><select class="select2-demo form-control" multiple style="width: 100%" id="selected_fabric'+i+'" name="selected_fabric'+i+'[]"><option value="">Select Fabric</option></select><div class="form-group"><label class="form-label">Select Brand</label><select class="select2-demo form-control" style="width: 100%" id="selected_brand'+i+'" name="selected_brand[]"><option value="">Select Brand</option><option value="1">Varaa</option></select></div></div><div class="form-group col-md-6" style="float:left;"><label class="form-label">Catalog Price Per Pc</label><input type="number" class="form-control" id="product_price'+i+'" name="product_price[]"></div><div class="form-group col-md-6" style="float:right;"><label class="form-label">Catalog PCS</label><input type="number" class="form-control" id="catalog_pcs'+i+'" name="catalog_pcs[]"></div><div class="form-group col-md-6" style="float:left;"><label class="form-label">Catalog GST</label><input type="number" class="form-control" id="product_gst'+i+'" name="product_gst[]" value="5"></div><div class="form-group col-md-6" style="float:right;"><label class="form-label">Catalog Weight (kg)</label><input type="number" step="0.01" class="form-control" id="product_weight'+i+'" name="product_weight[]"></div><div class="form-group" style=""><label class="form-label">Catalog Stitch</label><select class="form-control" id="product_stitch'+i+'" name="product_stitch[]"><option value="">Select Stitch</option><option value="Unstitched">Unstitched</option><option value="Semi Stitched">Semi Stitched</option><option value="Full Stitched">Full Stitched</option></select></div><div class="form-group" ><label class="form-label">Is Size Available?</label><input type="checkbox" id="size_checkbox'+i+'" name="size_checkbox'+i+'[]" onchange="check_size_available('+i+')"></div><div id="unchecked_size'+i+'"><div class="form-group"><label class="form-label">Catalog Quantity (Stock)</label><input type="number" class="form-control" id="product_quantity'+i+'" name="product_quantity[]"></div></div><div id="checked_size'+i+'" style="display:none;"><div class="form-group"><button type="button" class="btn btn-info" onclick="add_size('+i+')">Add Size</button></div><div id="show_size'+i+'"><div class="form-group col-md-5" style="float:left;"><label class="form-label">Size</label><select class="form-control" id="product_size'+i+'" name="product_size'+i+'[]"><option value="1">M</option><option value="2">S</option><option value="3">L</option><option value="4">XL</option><option value="5">XXL</option><option value="6">3XL</option><option value="7">4XL</option><option value="8">5XL</option></select></div><div class="form-group col-md-5" style="float:left;"><label class="form-label">Quantity</label><input type="number" class="form-control" id="product_quantity'+i+'" name="product_quantity'+i+'[]"></div></div></div><div class="form-group" style="display:none;"><label class="form-label">Select Color</label><select class="select2-demo form-control" multiple style="width: 100%" id="selected_color'+i+'" name="selected_color'+i+'[]"><option value="">Select Color</option></select></div><div class="form-group col-md-6" style="float:left"><label class="form-label">Catalog type (Set)</label><input type="text" class="form-control" id="catalog_type'+i+'" name="catalog_type[]"></div><div class="form-group col-md-6" style="float:right"><label class="form-label">MOQ</label><input type="number" class="form-control" id="moq'+i+'" name="moq[]"></div><div class="form-group col-md-6" style="float:left"><label class="form-label">Top Fabric</label><input type="text" class="form-control" id="top_fabric'+i+'" name="top_fabric[]"></div><div class="form-group col-md-6" style="float:right"><label class="form-label">Bottom Fabric</label><input type="text" class="form-control" id="bottom_fabric'+i+'" name="bottom_fabric[]"></div><div class="form-group col-md-6" style="float:left"><label class="form-label">Dupatta Fabric</label><input type="text" class="form-control" id="dupatta_fabric'+i+'" name="dupatta_fabric[]"></div><div class="form-group col-md-6" style="float:right"><label class="form-label">Lehenga Fabric</label><input type="text" class="form-control" id="lehenga_fabric'+i+'" name="lehenga_fabric[]"></div><div class="form-group col-md-6" style="float:left"><label class="form-label">Saree Fabric</label><input type="text" class="form-control" id="saree_fabric'+i+'" name="saree_fabric[]"></div><div class="form-group col-md-6" style="float:right"><label class="form-label">Blouse Fabric</label><input type="text" class="form-control" id="blouse_fabric'+i+'" name="blouse_fabric[]"></div><div class="form-group col-md-6" style="float:left"><label class="form-label">Blouse PCS</label><input type="number" class="form-control" id="blouse_pcs'+i+'" name="blouse_pcs[]"></div><div class="form-group col-md-6" style="float:right"><label class="form-label">Ideal For</label><input type="text" class="form-control" id="ideal_for'+i+'" name="ideal_for[]"></div><div class="form-group col-md-6" style="float:left"><label class="form-label">Color</label><input type="text" class="form-control" id="color'+i+'" name="color[]"></div><div class="form-group col-md-6" style="float:right"><label class="form-label">Bottom</label><input type="text" class="form-control" id="bottom'+i+'" name="bottom[]"></div><div class="form-group col-md-6" style="float:left">
									<label class="form-label">Length</label>
									<input type="text" class="form-control" id="length'+i+'" name="length[]">
								</div><div class="form-group"><label class="form-label col-md-12">Disable Date</label><input type="date" class="form-control" id="disable_date'+i+'" name="disable_date[]"></div><div class="form-group"><label class="form-label">Catalog Short Description</label><input type="text" class="form-control" id="product_short_description'+i+'" name="product_short_description[]"></div><div class="form-group"><label class="form-label">Catalog Full Description</label><input type="text" class="form-control" id="product_full_description'+i+'" name="product_full_description[]"></div><div class="form-group" style="display:none;"><label class="form-label">Product Status</label><select class="form-control" id="product_status'+i+'" name="product_status[]"><option value="Publish">Publish</option><option value="Draft">Draft</option><option value="Private">Private</option></select></div><div class="form-group"><label class="form-label">Meta Title</label><input type="text" class="form-control" id="product_meta_title'+i+'" name="product_meta_title[]"></div><div class="form-group"><label class="form-label">Meta Keyword</label><input type="text" class="form-control" id="product_meta_keyword'+i+'" name="product_meta_keyword[]"></div><div class="form-group"><label class="form-label">Meta Description</label><input type="text" class="form-control" id="product_meta_desc'+i+'" name="product_meta_desc[]"></div><div class="form-group"><label class="form-label">Other Details</label><textarea class="ckeditor" name="editor[]" id="editor'+i+'"></textarea></div><small class="form-text text-muted" id="error'+i+'" style="display:none;margin-bottom:15px; color:red !important;"></small><button type="button" class="btn btn-info" onclick="add_products()">Add More Catalog</button> <button type="button" class="btn btn-danger" id="remove_product" style="float:right;" onclick="remove_prod()">Remove</button><input type="hidden" value="2" id="total_size'+i+'" name="total_size'+i+'"></div></div></div>';

			$("#products").append(append);
			CKEDITOR.replace( 'editor'+i );
			i++;
			$("#total").val(i);
			$(function() {
				  $('.select2-demo').each(function() {
					$(this)
					  .wrap('<div class="position-relative"></div>')
					  .select2({
						placeholder: 'Select value',
						dropdownParent: $(this).parent()
					  });
				  })
				});
		}
	 */
    </script>
<script>
    function submit_product() {



        var total = $("#total").val();
        //alert(total);

        var image_file = new Array();
        var product_name = new Array();
        var cname = new Array();
        var product_sku = new Array();
        var product_hsn = new Array();
        var product_price = new Array();
        var catalog_pcs = new Array();
        var product_quantity = new Array();
        var product_weight = new Array();
        var product_gst = new Array();
        var product_stitch = new Array();
        var selected_size = new Array();
        var selected_color = new Array();
        var product_short_description = new Array();
        var product_full_description = new Array();
        var product_status = new Array();
        var product_meta_title = new Array();
        var product_meta_keyword = new Array();
        var product_meta_desc = new Array();

        var selected_cat = $("#selected_cat").val();

        if (selected_cat == "") {
            $.growl.error({
                message: 'Please Select Category Name',
                location: 'tr'
            });
            return false;
        }
        var all_pro_name = [];
        var all_pro_sku = [];



        for (i = 1; i < parseInt(total); i++) {

            all_pro_name.push($("#product_name" + i).val());
            all_pro_sku.push($("#product_sku" + i).val());
            var imagefile = $('#image_file' + i).prop('files')[0];
            if (imagefile != undefined) {
                var extension = imagefile.name.substr((imagefile.name.lastIndexOf('.') + 1));

                if (extension == "jpg" || extension == "jpeg" || extension == "png" || extension == "mp4") {
                    if ($('#image_file' + i).prop('files')[0] == undefined) {
                        $.growl.error({
                            message: 'Please Select Image Of Product ' + i,
                            location: 'tr'
                        });

                        return false;

                    }


                    /*if($("#product_sku"+i).val() == ""){

                    	$.growl.error({
                    	  message:  'Please Insert Sku of Catalog '+i,
                    	  location: 'tr'
                    	});

                    	return false;

                    }*/

                    if ($("#product_name" + i).val() == "") {

                        $.growl.error({
                            message: 'Please Insert Name Of Catalog ' + i,
                            location: 'tr'
                        });

                        return false;

                    }
                    if ($("#cnamename" + i).val() == "") {

                        $.growl.error({
                            message: 'Please Insert Short Name Of Catalog ' + i,
                            location: 'tr'
                        });

                        return false;

                    }

                    if ($("#selected_fabric" + i).val() == "") {

                        $.growl.error({
                            message: 'Please Select Fabric Of Catalog ' + i,
                            location: 'tr'
                        });

                        return false;

                    }
                    var breakOut = false;
                    if ($("#color_checkbox" + i).prop("checked") == true) {
                        jQuery('[id^=selected_color]').each(function(e) {
                            $(".color_dis option").removeAttr('disabled');
                            // console.log(this);

                            var iddd = $(this).attr('id');
                            /* console.log(iddd);
                            console.log($("#"+iddd).val()); */

                            if ($("#" + iddd).val() == "") {

                                $.growl.error({
                                    message: 'Please Select Color',
                                    location: 'tr'
                                });

                                breakOut = true;
                                return false;

                            }

                        });
                    }

                    if (breakOut) {
                        breakOut = false;
                        return false;
                    }




                    if ($("#product_price" + i).val() == "") {
                        $("#btnsubmit").css("pointer-events", "visible");
                        $.growl.error({
                            message: 'Please Insert Price Of Catalog ' + i,
                            location: 'tr'
                        });

                        return false;

                    }
                    if ($("#mrp_price" + i).val() == "") {
                        $("#btnsubmit").css("pointer-events", "visible");
                        $.growl.error({
                            message: 'Please Insert MRP Price Of Catalog ' + i,
                            location: 'tr'
                        });

                        return false;

                    }
                    if ($("#product_reseller_price" + i).val() == "") {
                        $("#btnsubmit").css("pointer-events", "visible");
                        $.growl.error({
                            message: 'Please Insert reseller Price Of Catalog ' + i,
                            location: 'tr'
                        });

                        return false;

                    }
                    if ($("#mrp_reseller_price" + i).val() == "") {
                        $("#btnsubmit").css("pointer-events", "visible");
                        $.growl.error({
                            message: 'Please Insert reseller MRP Price Of Catalog ' + i,
                            location: 'tr'
                        });

                        return false;

                    }

                    if ($("#catalog_pcs" + i).val() == "") {

                        $.growl.error({
                            message: 'Please Insert PCS Of Catalog ' + i,
                            location: 'tr'
                        });

                        return false;

                    }

                    if ($("#product_gst" + i).val() == "") {

                        $.growl.error({
                            message: 'Please Insert GST Of Catalog ' + i,
                            location: 'tr'
                        });

                        return false;

                    }

                    if ($("#product_weight" + i).val() == "") {

                        $.growl.error({
                            message: 'Please Insert Weight Of Catalog ' + i,
                            location: 'tr'
                        });

                        return false;

                    }

                    if ($("#product_stitch" + i).val() == "") {

                        $.growl.error({
                            message: 'Please Select Stitch Of Catalog ' + i,
                            location: 'tr'
                        });

                        return false;

                    }

                    /*if($("#moq"+i).val() == ""){

                    	$.growl.error({
                    	  message:  'Please Insert MOQ Of Catalog '+i,
                    	  location: 'tr'
                    	});

                    	return false;

                    }*/
                } else {
                    $.growl.error({
                        message: 'You can only upload image with JPG, JPEG, PNG extension ',
                        location: 'tr'
                    });


                    return false;
                }
            } else {
                $.growl.error({
                    message: 'Please Select Image Of Product ' + i,
                    location: 'tr'
                });


                return false;
            }
        }

        /* let map = {};
        let result = false;
        for (let i = 0; i < all_pro_name.length; i++) {

        	if (map[all_pro_name[i]]) {
        		result = true;
        		break;
        	}
        	map[all_pro_name[i]] = true;
        }
        if (result) {
        	console.log('Array contains duplicate elements');
        	$.growl.error({
        		message: 'Duplication Of Product Name Is Not Valid',
        		location: 'tr'
        	});
        	return false;
        } */

        /* console.log(all_pro_name);
        console.log(all_pro_sku);
        var method = "add";
        $.ajax({

        	type: "POST",
        	data: {
        		all_pro_name: all_pro_name,
        		all_pro_sku: all_pro_sku,
        		total: total,
        		method: method
        	},
        	url: "ajaxfiles/check_repeat_product.php",
        	success: function(response) {
        		if (response == "ok") {
        			$("form").submit();
        		} else {
        			$.growl.error({
        				message: 'Product Name Already Exists',
        				location: 'tr'
        			});
        			return false;
        		}
        	}
        }); */
        $(".color_dis option").removeAttr('disabled');
        $(".abc option").removeAttr('disabled');
        $("form").submit();



    }

    function delete_catalog() {
        var delete_id = [];
        $.each($("input[name='delete_checkbox']:checked"), function() {
            delete_id.push($(this).val());
        });
        //alert("Id to Delete are: " + delete_id.join(", "));
        if (delete_id == "") {
            alert("Please Select a Category to Delete");
        } else {

            if (confirm('Are You Sure You Want To Delete?')) {
                $.ajax({
                    type: "POST",
                    url: "category_delete.php?id=" + delete_id,
                    success: function(response) {
                        if (response == "error") {
                            alert("You cannot delete category whose subcategory is there!");
                        } else if (response == "ok") {
                            location.reload();
                        }
                    }
                });
                //alert(delete_id);

            }

        }
    }
    </script>
<script>
    function get_subcat1() {
        var cat_id = $("#selected_cat").val();
        var subcat_id = $("#get_subcat").val();
        $(".extrablock").hide();
        var selectedcat = cat_id;
        console.log(selectedcat);
        var selctedkir = ['6', '3', '20', '10', '11'];
        var selctedwesnight = ['921', '923'];
        var selctedaccess = ['922'];
        var selctedsarr = ['5'];
        var selctedle = ['7'];
        let isFounded = selctedkir.some(ai => selectedcat.includes(ai));
        if (isFounded) {
            $(".kurtiesblock").show();
        }
        let isFounded_1 = selctedwesnight.some(ai => selectedcat.includes(ai));
        if (isFounded_1) {
            $(".western_night_wearblock").show();
        }
        let isFounded_2 = selctedaccess.some(ai => selectedcat.includes(ai));
        if (isFounded_2) {
            $(".accessories_block").show();
        }
        let isFounded1 = selctedsarr.some(ai => selectedcat.includes(ai));
        if (isFounded1) {
            $(".sareesblock").show();
        }
        let isFounded2 = selctedle.some(ai => selectedcat.includes(ai));
        if (isFounded2) {
            $(".lehengablock").show();
        }

        console.log(isFounded1);
        $.ajax({
            type: "POST",
            data: {
                subcat_id: subcat_id
            },
            url: "ajaxfiles/get_subcat_from_cat.php?cat_id=" + cat_id,
            success: function(response) {
                //alert(response);
                $("#get_subcat").html(response);
            }
        });
    }

    function add_color(i) {

        var k = $("#total_color" + i).val();
        var m = k - 1;
        /* <button type="button" class="btn btn-info" style="margin: 8px;border-radius: 25px;background: green;" id="btn" onclick="add_color(i)"><i class="fa fa-plus" aria-hidden="true"></i></button> */

        var append_color = '<div id="colors' + i + '_' + k +
            '" colorss><div class="row col-md-12" style="border: 1px solid;border-radius: 10px"><div class="form-group col-md-2"><button type="button" class="btn btn-round btn-default" onclick="remove_color(' +
            i + ',' + k +
            ')"><i class="ion ion-md-close align-middle" style="color:red;font-size:20px;"></i></button></div><div class="form-group col-md-4" ><label class="form-label">Select Color</label><select class="select2-demo form-control color_dis" id="selected_color' +
            i + '_' + k + '" name="selected_color' + i +
            '[]"><option value="">Select Color</option></select></div><div class="form-group col-md-5" ><label class="form-label">Select Image</label><input type="file" name="image_file_color' +
            i + '[]" accept="image/*" class="form-control" onchange="readURL1(this,' + i + '_' + k +
            ');" id="image_file_color' + k + '"><img id="color_blah' + i + '' + k +
            '" src="http://placehold.it/150" style="max-width:150px;max-height:150px;margin: auto;padding: 10px;"></div><div class="form-group col-md-12"><label class="form-label col-md-12">Select Sub-Images</label><input type="file" name="subimage_file_color' +
            i + '_' + k + '[]" accept="image/*,video/*" class="form-control" multiple onchange="get_subimages2(this,' + i +
            ',' + k + ');" id="subimage_file_color' + i + '_' + k + '"><div class="gallery' + i + '_' + k +
            ' gallery_color1"></div></div><button style="margin: 8px;border-radius: 25px;background: green;" type="button" class="btn btn-info" onclick="add_color(1)"><i class="fa fa-plus" aria-hidden="true"></i></button></div></div><br>';

        $(".color_sec" + i).append(append_color);
        k++;
        $("#total_color" + i).val(k);
        chnagedrop_color()
    }

    function chnagedrop_color() {
        $(".color_dis option").removeAttr('disabled');
        $(".color_dis :selected").each(function() {
            var selectedValue = $(this).val();
            $(".color_dis option[value='" + selectedValue + "']").prop('disabled', true);
        });
        $(".select2-demo").select2();
    }
    $(document).on('change', '.color_dis', function() {
        chnagedrop_color()
    })
    </script>
</body>
</html>






                              
//   if (formData.has('addsubimage[]')) {
    //     console.log('Form data was appended successfully!');
    //   } else {
    //     console.log('Form data was not appended.');
    //   }
    // }
    // var k = $("#total_attribute").val() - 1;
    // var parth = 0;

    // if (Array.isArray(attributea) && attributea.some(attr => attr == 'Color')) {

    //   for (i = 0; i < k; i++) {

    //     if (attributea[i] == 'Color') {
    //       console.log('addimage' + (
    //       i + 1));
    //       var imagefile = $('#addimage' + (
    //       i + 1)).prop('files')[0];

    //       if (imagefile == undefined) {

    //         alert('Please Select Image of color...');
    //         break;

    //       } else {
    //         parth = 1;
    //       }

    //     }
    //   }

    //   if (parth) {
    //     console.log('ok..............');
    //     // $.ajax({
    //     //   url: '/admin/add_attr',
    //     //   type: 'POST',
    //     //   data: formData,
    //     //   processData: false,
    //     //   contentType: false,
    //     //   success: function (data, status) {
    //     //     form.submit();
    //     //     // alert("Your Message Sent");
    //     //   },
    //     //   error: function (jqXHR, textStatus, errorThrown) {
    //     //     console.log(textStatus + ': ' + errorThrown);
    //     //   }
    //     // });
    //   }

    // } else {
      